*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body {
    background-image: url('https://c4.wallpaperflare.com/wallpaper/434/309/126/minimalism-cat-funny-digital-art-artwork-hd-wallpaper-preview.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.container{
    width: 100%;
    min-height: 100vh;
    
    padding: 10px;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background: transparent;
    margin: 10px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2{
    color: white;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo-app h2 img{
    width: 30px;
    margin-left: 10px;

}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left:20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border:none;
    outline: none;
    background: transparent;
    padding: 10px;
}
button{
    border:none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;

}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 0px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through; 
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
    
}
.task-card {
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    padding-right: 288px;
    padding-left: 10px;
    margin-left: 20px;
    margin-bottom: 5px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s ease-in-out; 
}
.task-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
.task-details {
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    /* padding-right: 100px; */
}
.task-text {
    font-size: 18px;
    margin-bottom: 5px;
    
    /* flex-grow: 1; */
}
.due-date {
    font-size: 12px;
    color: #777;
    margin-top: 5px;
}
.close-button {

    cursor: pointer;
    color: burlywood;
    font-size: 20px;
}
.edit-button {
    border: none;
    display: flex;
    background-color:lightslategray;
    color: black;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.edit-button:hover {
    background-color: grey;
}
.task-list {
            display: flex;
            flex-wrap:wrap;
            gap: 40px;
            
        }
        .task-card.work {
            border-left: 5px solid orange;
        }
        .task-card.personal {
            border-left: 5px solid lightblue;
        }
        .task-card.shopping {
            border-left: 5px solid lightgreen;
        }
        .search-container {
            display: flex;
            justify-content: flex-end;
            margin-top: 10px;
            margin-bottom: 20px;
            
        }
        #search-box {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 25px;
        }

        select {
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    font-size: 12px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
}
select:hover {
    border-color: #007bff;
}
select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
input[type="date"] {
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    font-size: 12px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
}
input[type="date"]:hover {
    border-color: #007bff;
}
input[type="date"]:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
